$colorbg: #1d99c5;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
.example {
  div{
    color: $colorbg;
    @@include border-radius(10px);
  }
}
